<div class="dialog_bottom" id="dialog_bottom" name="dialog">
    <ul>
        <li><span>您正在订购：</span><em class="org">XXXXXXXXXXX</em></li>
        <li><span>手机号码：</span><em class="org">15180198551</em></li>
        <li><span>XX支付：</span><em class="org">XXXXX</em><em>（资费+资费周期）</em></li>
        <li><span>生效时间：</span><em>立即生效，限当月使用</em></li>
        <li class="reade_box"><i class="on"></i><span class="read">我已阅读使用帮助和</span><a href="#" target="_blank" style="color: #0399df">电子协议</a></li>
    </ul>
    <div class="chang_btn_box"><a href="javascript:void(0)" class="confirm_btn" id="happyBtn_buy">确认办理</a></div>
    <i class="close_btn"></i>
</div>
