<div class="top">
    <div class="top-wrap">
        <a onclick="window.history.back()" href="javascript:void(0)" class="icon-left"></a>
        <a class="top-icon-right"></a>
        <h1>@@title</h1>
        <ul class="top-nav-slide">
            <li class="top-nav-arrow"></li>
            <li><a href="/hui/release/home/index.html"><i class="top-nav-home"></i>首页</a></li>
            <li><a href="/hui/shopFinds/init"><i class="top-nav-zd"></i>找店</a></li>
            <li><a href="/hui/shua/index"><i class="top-nav-sys"></i>转转贝</a></li>
            <li><a href="/hui/flow/queryGprs"><i class="top-nav-llian"></i>流量</a></li>
            <li><a href="/hui/user/usercenter/showUserCenter"><i class="top-nav-wo"></i>我</a></li>
        </ul>
        <div class="modal-bg" style="display: none;"></div>
    </div>
</div>
