.shop-layout-2and2 {
	@include mt20;
	>div:first-child {
		display: table;
		>div{
			display:table-cell;
			width:px2rem(320);
			height: px2rem(320);
		}
		>div:first-child{
			border-right: 1px solid #eee;
		}
		border-bottom:1px solid #eee;
	}
	>div:last-child {
		display: table;
		>div{
			display:table-cell;
			width:px2rem(320);
			height: px2rem(320);
		}
		>div:first-child{
			border-right: 1px solid #eee;
		}
	}
	img{
		width:100%;
		height:100%;
	}
}