$designWidth: 640;
@function px2rem($px) {
    @return $px*320/$designWidth/20+rem;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 40px
}

div,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
label,
input,
select,
textarea,
p,
th,
td {
    font-size: 14px;
}

body {
    font-size: 1.4rem
}

* {
    margin: 0px;
    padding: 0px;
    word-wrap: break-word;
    word-break: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 150%;
    font-family: "microsoft yahei", Verdana, Arial, Helvetica, sans-serif;
}

body {
    background: #eee;
    color: #333;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative
}

body,
html {
    height: 100%
}

li {
    list-style: none;
}

img {
    border: 0;
    vertical-align: middle;
    max-width: 100%;
}

input,
select {
    border: 0;
    background-image: none;
    font-family: "microsoft yahei", Verdana, Arial, Helvetica, sans-serif;
    -webkit-appearance: none
}

a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
}

.clearfix {
    *zoom: 1;
}

input,
textarea {
    color: #000;
    font: normal 12px/auto;
    font-family: "microsoft yahei", Verdana, Arial, Helvetica, sans-serif;
}

input {
    vertical-align: middle;
}

.hide {
    display: none!important;
    visibility: hidden!important
}

.affix {
    position: fixed!important;
    z-index: 9996;
}

.pull-left {
    float: left
}

.pull-right {
    float: right
}

.container {
    width: 100%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto
}

.top {
    position: relative;
    height: 45px
}

em {
    font-style: normal;
}

.header {
    height: 45px;
    padding: 7px 10px;
    background-color: #ffda44;
    position: fixed;
    width: 640px;
    z-index: 9998
}

.header .logo-main {
    float: left;
    height: 27px;
    margin-top: 2px;
}

.header .logo-icon {
    position: absolute;
    left: 15px;
    top: 5px;
}

.sub-title {
    background-color: #fff;
    color: #333;
    text-align: center;
    padding: 0;
}

.sub-title h1 {
    font-size: 18px;
    line-height: 45px;
    font-weight: normal
}

.sub-title .top-search select {
    background-color: transparent;
    color: #fff;
    border-width: 0
}

.sub-title .top-search select option {
    border-width: 0;
    color: #333
}

.sub-title .top-search .form-control {
    border-width: 0;
    background-color: #0080bf;
    color: #fff
}

.sub-title .top-search .select-arrow {
    background-image: url(../images/slect-arrow2.png)
}

.nav-slide {
    position: absolute;
    right: 0;
    top: 45px;
    width: 130px;
    background-color: #666;
    border-radius: 4px;
    overflow: inherit!important;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 5px 10px 10px 20px;
    display: none;
    z-index: 9999;
}

.nav-slide li {
    height: 35px;
    line-height: 35px
}

.nav-slide li a {
    display: block;
    line-height: 35px;
    width: 100%;
    color: #fff;
    text-align: left;
    border-bottom: 1px solid #999;
}

.nav-slide li:last-child a {
    border-bottom: none;
}

.nav-slide li [class*="icon-nav-"] {
    float: left;
    margin-top: 9px;
    margin-right: 5px;
}

.nav-slide .nav-arrow {
    border: 10px solid transparent;
    border-bottom-color: #666;
    width: 0;
    height: 0;
    position: absolute;
    top: -20px;
    right: 12px;
    z-index: 1;
    cursor: pointer;
}

[class*="icon-nav-"] {
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    width: 20px;
    height: 20px;
}

.modal-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9998;
    display: none;
    background-color: transparent
}

.dp-wz {
    background-image: url(../images/wz.png);
    background-position: left center;
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    top: 36px;
    padding-left: 17px;
    background-size: 12px 17px
}

.foot-menu {
    bottom: 0;
    width: 100%;
}

.tab-content .foot-menu {
    max-width: 640px
}

[class*="icon-"] {
    display: block;
    background-image: url(../images/all_icon.png);
    background-repeat: no-repeat;
    background-size: 100%
}

.icon-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 45px;
    height: 45px;
    background: url(../images/back.png) no-repeat 15px 15px;
    background-size: 22%;
    z-index: 2;
}

.icon-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    height: 45px;
    background-position: 10px -988px;
    background-size: 60%;
    z-index: 8
}

.icon-lr02,
.sub-title .icon-right {
    background: url(../images/top-more.png) no-repeat 5px 8px;
    background-size: 80%;
}

.icon-top-cart {
    position: absolute;
    right: 35px;
    top: 0;
    width: 40px;
    height: 40px;
    background-position: 10px -285px;
    background-size: 100%;
    z-index: 3
}


/*.reach-icon{position:absolute; right:40px;top:12px; color:#fff;}*/

.icon-cart02,
.sub-title .icon-top-cart {
    background-position: 8px -681px;
}

.sub-title .reach-icon {
    background-position: 8px -111px;
    position: absolute;
    top: 1px;
    right: 38px;
}


/*swiper*/

.pagination {
    text-align: center
}

.swiper-container-sub .swiper-slide {
    text-align: center;
    background-color: #fff
}

.swiper-container-sub .swiper-slide img {
    width: 320px!important;
    height: 320px;
}

.swiper-container-sub .pagination {
    text-align: center
}


/*swiper end*/


/* modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
    z-index: 7
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.modal-hy .modal-dialog {
    margin: 0;
    height: 100%
}

.modal-hy .modal-content {
    box-shadow: none;
    border-width: 0;
    height: 100%;
    background-color: #fff;
    padding-bottom: 50px
}

.modal-hy .hy-content {
    height: 100%;
    overflow-y: auto;
}

.model-bg {
    background-image: url(../images/black_bg.png);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9998;
    top: 0;
    left: 100%;
}

.more-box {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9997;
    display: none;
    left: 0;
    top: 0;
}

.more-box.on {
    z-index: 9999;
    top: 0;
    display: block;
}

.share-box {
    border-top: 2px solid #f15353;
    background-color: #f8f8f8;
    display: none;
    width: 640px;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -320px;
    z-index: 10000
}

.share-box ul {
    padding: 20px;
    overflow: hidden
}

.share-box ul li {
    width: 33%!important;
    float: left;
    margin-bottom: 10px
}

.share-box ul li a {
    display: block;
    text-align: center
}

.share-box li a:before {
    background-image: url(../images/fx.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 52px;
    height: 52px;
    display: block;
    margin: 0 auto;
    content: "";
}

.share-box ul li.wx a:before {
    background-position: 0 0
}

.share-box ul li.wxpyq a:before {
    background-position: 0 -57px
}

.share-box ul li.xlwb a:before {
    background-position: 0 -114px
}

.share-box ul li.qq a:before {
    background-position: 0 -171px
}

.share-box ul li.qqkj a:before {
    background-position: 0 -228px
}

.share-box ul li.message a:before {
    background-position: 0 -285px
}

.share-box .cancel {
    display: block;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #dedede;
    text-align: center;
    color: #333;
    font-size: 16px
}
.loading-box { background-color: rgba(255, 255, 255, 0.5) !important; }
.loading-box { background-color: #fff; width: 100%; height: 100%; background-image: url(../images/loading3.gif); background-position: center; background-repeat: no-repeat; z-index: 10000 }
.loading-box.absolute { position: absolute }
.modal-backdrop, .loading-box { position: fixed; top: 0; right: 0; bottom: 0; left: 0; background-color: #000; }
#top {
    display: block;
    width: 45px;
    height: 45px;
    border: 1px solid #dedede;
    position: fixed;
    bottom: 55px;
    right: 10px;
    z-index: 9999;
    border-radius: 10px 10px 10px 10px;
    text-decoration: none;
    display: none;
    background: #fff url(../images/top.png) no-repeat center;
    border-radius: 100%;
}

#scroller {
    position: absolute;
    z-index: 1;
    width: 100%;
    padding: 0;
}

#pullDown,
#pullUp {
    text-align: center;
    height: 40px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 14px;
    color: #888;
}

#pullDown .pullDownIcon,
#pullUp .pullUpIcon {
    display: block;
    text-align: center;
    width: 40px;
    height: 40px;
    -webkit-background-size: 40px 80px;
    background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;
}

#pullDown .pullDownIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#pullUp .pullUpIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
    -webkit-transform: rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
    -webkit-transform: rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon,
#pullUp.loading .pullUpIcon {
    background-position: 0 100%;
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;
    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes loading {
    from {
        -webkit-transform: rotate(0deg) translateZ(0);
    }
    to {
        -webkit-transform: rotate(360deg) translateZ(0);
    }
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative
}

.sub-title .badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #F00;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    top: 1px;
}

.footer-nav .app-link .badge {
    position: absolute;
    z-index: 1;
    top: -25px;
    right: -5px
}

.footer-nav .badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #F00;
    border-radius: 10px;
}

.huilogo {
    position: absolute;
    left: 0;
    top: 0;
    padding: 8px;
    height: 45px;
    width: 45px;
    display: block;
}

.huilogo:before {
    margin: initial;
    background: url(../images/hui-2.png) no-repeat;
    background-size: 100%;
    width: 40px;
    height: 40px;
    background-position: 2px 2px;
    display: block;
    content: "";
    top: 0px;
    position: absolute;
    left: 0;
}
a.un-btn{
    background-color: #cdcdcd;
    color: #fff;
}
.icon-cart {
    position: absolute;
    right: 45px;
    top: 0;
    width: 42px;
    height: 42px;
    background-position: 7px -36px;
    background-size: 100%;
    z-index: 8;
}

.icon-cart .redradio {
    font-size: 12px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    color: #fff;
    text-align: center;
    display: block;
    right: 1px;
    top: 1px;
}

.red {
    color: #ff1e3a;
}

.icon-nav-home {
    background: url(../images/dp-icon-all.png) 0 -20px no-repeat;
    background-size: 85%;
}

.icon-nav-lh {
    background-position: 0 -285px
}

.icon-nav-ss {
    background: url(../images/dp-icon-all.png) 0 -110px no-repeat;
    background-size: 85%;
}

.icon-nav-cx {
    background: url(../images/dp-icon-all.png) 0 -20px no-repeat;
    background-size: 85%;
}

.icon-nav-wo {
    background: url(../images/dp-icon-all.png) 0 -138px no-repeat;
    background-size: 85%;
}

.icon-nav-fx {
    background: url(../images/dp-icon-all.png) 0 -20px no-repeat;
    background-size: 85%;
}

.icon-nav-llian {
    background: url(../images/dp-icon-all.png) 0 -251px no-repeat;
    background-size: 85%;
}

.icon-nav-sys {
    background: url(../images/dp-icon-all.png) 0 -223px no-repeat;
    background-size: 85%;
}

.icon-nav-zd {
    background: url(../images/dp-icon-all.png) 0 -193px no-repeat;
    background-size: 85%;
}

.icon-nav-dp {
    background: url(../images/icon-dp.png) no-repeat;
    background-size: 90%;
}

.swiper-slide a {
    overflow: hidden;
    display: block;
}

.pagination {
    height: 21px;
}

.pull-right.font-rose em {
    font-size: 12px;
    font-weight: 100;
    color: #999;
    font-style: normal
}

@media (max-width: 639px) {
    .pay-box,
    .share-box,
    .reach-box {
        width: 100%;
        left: 0;
        margin-left: 0
    }
    .pay-box {
        width: 100% !important;
        left: 0 !important;
        margin-left: 0 !important;
    }
    .header {
        width: 100%
    }
    .slider-product-page {
        width: 100% !important;
        height: 220px !important;
        background-color: #fff
    }
    .slider-product-page>div {
        width: 100% !important
    }
    .slider-product-page .slides {
        width: 220 !important;
        height: 220px !important;
        left: 50%;
        margin-left: -110px
    }
    .slider-product-page .slides>div {
        width: 100% !important;
        height: 220px !important;
    }
    .slider-product-page .slides img {
        height: 220px !important;
        width: 220px !important
    }
}

@media (min-width: 640px) {
    .modal {
        width: 640px;
        margin-left: auto;
        margin-right: auto
    }
}

@media (min-width: 319px) {
    #outer.yy-outer-iscroll .q-list-con li {
        width: 70px;
    }
}

@media (min-width: 359px) {
    #outer.yy-outer-iscroll .q-list-con li {
        width: 80px;
    }
}

@media screen and ( min-width: 375px) {
    /*375px显示屏样式 苹果6*/
    #outer.yy-outer-iscroll .q-list-con li {
        width: 85px;
    }
}

@media screen and ( min-width: 414px) {
    /*414px显示屏样式 苹果6plus*/
    #outer.yy-outer-iscroll .q-list-con li {
        width: 92px;
    }
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1
}

.swiper-container-vertical>.swiper-wrapper {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2
}

button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px
}

@import "../component/model/model.scss";
@import "../component/top/index.scss";
.jz-list {
    text-align: center;
    padding: 15px 0 12px 0;
    clear: both
}

.pj-ft {
    cursor: pointer;
    padding: 10px 15px;
}

.pj-ft span.fr {
    font-size: 12px;
    color: #999
}

.sp-top {
    margin-top: 12px;
}

.sp-pj,
.sp-info {
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

.sp-l {
    position: relative;
}

.sp-bt {
    position: relative;
}

.sp06 {
    border-top: 10px solid #eee;
    padding: 15px 15px 18px 15px;
}

.kc-con {
    color: #888;
    padding-top: 5px;
}

.sp-lz {
    position: absolute;
    right: 10px;
    top: 10px;
    border-left: 1px solid #eee;
}

.sp-lg {
    padding-top: 10px;
}

.sp-jg {
    clear: both;
    padding-top: 5px;
    color: #999;
}

.sp-jg1 {
    width: 90%;
    color: #dc4747;
}

.sp-jg small {
    margin-right: 5px
}

.sp-jg strong {
    font-size: 22px;
    color: #ff4444 !important;
}

.sp-bt,
.sp-con,
.sp-kc,
.sp-fl,
.sp-lc {
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

.sp-bt strong {
    color: #ff6600;
    font-weight: normal;
}

.sp-sc {
    /* border:1px solid #dedede; */
    padding: 20px 4px 3px 4px;
    cursor: pointer;
    display: block;
    font-size: 12px;
}

.sp-sc span {
    background: url(../images/fx_icon.png) no-repeat;
    width: 12px;
    height: 17px;
    background-size: 100%;
    position: absolute;
    left: 12px;
    top: 5px
}

.sp-sc.active span {
    background: url(../images/fx_icon.png) no-repeat 0 0px;
    width: 12px;
    height: 17px;
    background-size: 100%;
    position: absolute;
    left: 50%;
    top: 5px;
    margin-left: -8px;
}

.sp-sc.active {
    color: #666;
}

.sp-icon {
    background: url(../images/icon02.gif) no-repeat right;
    width: 8px;
    height: 13px;
    position: absolute;
    right: 8px;
    top: 14px;
}

.sp-lc ul {
    display: block !important;
}

.xzcs {
    background-color: #fff;
    right: -100%;
    width: 275px;
    z-index: 9999;
    top: 0;
    position: fixed;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 50px;
}

.xzcs2 {
    left: 100%;
    width: 100%;
    z-index: 9999;
    top: 0;
    position: fixed;
    height: 100%;
    box-sizing: border-box
}

.xz-con {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    right: 0;
    overflow-y: auto;
}

.xzcs .sub-bnt {
    right: 0;
    bottom: 0;
    left: 0;
    width: 275px;
    border-top: 1px solid #eca847;
    padding: none;
}

.model-bg {
    background-image: url(../images/black_bg.png);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9998;
    top: 0;
    left: 100%;
}

.xz-dr {
    position: relative;
    padding: 20px 0 20px 0;
    background-color: #fff;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.xz-dr dt {
    float: left;
    width: 80px !important;
    height: 80px !important;
    text-align: center !important;
    overflow: hidden;
}

.xz-dr dt img {
    max-height: 100% !important;
}

.xz-dr dd {
    font-size: 14px;
}

.xz-dr dd h2 {
    font-size: 14px;
    font-weight: normal;
    height: 40px;
    overflow: hidden;
}

.xz-dr .xz-text {
    color: #999;
    font-size: 12px;
}

.xz-dr .xz-text strong {
    color: #ff4444;
    font-size: 14px;
    font-weight: normal;
}

.xz-dr .sell {
    font-size: 12px;
    color: #999;
}

.xz-confirm_btn {
    line-height: 42px;
    border-top: 1px solid #cdcdcd;
    text-align: center;
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #eca847;
    font-size: 14px;
}

.sp-lc {
    padding: 10px 3px 10px 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
}

.sp-lc h2 {
    color: #333;
    font-weight: normal;
    font-size: 16px;
    position: relative;
}

.sp-lc h2 .lc-pj {
    position: absolute;
    right: 10px;
    font-weight: normal;
    font-size: 12px;
    top: 3px;
    color: #888;
}

.sp-lc h2 .lc-pj a {
    color: #ff6600;
}

.sp-dt h2 {
    border-bottom: 1px dashed #ccc;
}

.sp-dt {
    border: none !important;
}

.sp-dt .sp-tr {
    padding-left: 7px;
    font-size: 14px;
    display: block;
    max-width: 85%;
    height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sp-dt .jd-gg {
    font-size: 13px;
    color: #666;
    border: 1px solid #ccc;
    display: block;
    border-radius: 3px;
    padding: 3px 5px;
    margin: 0 10%;
}

.sp-dt .sp-phone {
    display: inline-block;
    padding: 7px 0 0 7px;
}

.sp-dt span img {
    width: 64px !important;
    height: 64px;
    border: 1px solid #dedede;
    float: left;
}

.tab-dr {
    width: 100%;
    border-top: none;
    height: auto;
    padding-top: 40px
}

.tab-dr img {
    width: 100% !important;
    height: auto !important;
    max-height: none;
}

.tab-lr {
    overflow: hidden;
    width: 97%;
    margin: 0 auto;
    border: 1px solid #cdcdcd;
}

.tab-ct {
    overflow: hidden;
}

.tab-lr li {
    float: left;
    border-right: 1px solid #cdcdcd;
    color: #999;
    width: 33.3%;
    padding: 2px 0;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: 16px;
}

.tab-lr li.current {
    color: #333;
    background: #ffda44;
}

.tab-lr li span {
    display: block;
}

.tab-lr li strong {
    font-weight: normal;
}

.tab-dr ul {
    display: none;
    min-height: 580px;
}

.mu-star {
    display: inline-block;
    overflow: hidden;
    width: 70px;
    height: 13px;
    background: url(../images/ic_star.png) repeat-x 0 -13px;
    font-size: 0px;
    vertical-align: -1px;
    margin-top: 5px;
}

.star-width5 {
    width: 100%;
}

.star-width4 {
    width: 80%;
}

.star-width3 {
    width: 60%;
}

.star-width2 {
    width: 40%;
}

.star-width1 {
    width: 20%;
}

.mu-starv {
    display: inline-block;
    height: 13px;
    background: url(../images/ic_star.png) repeat-x 0 0;
}

.tab-dl {
    padding: 10px 0px 0 0px;
}

.tab-dl .tab-ft,
.tab-dl .tab-df {
    color: #6c6c6c;
}

.tab-dl li {
    border-top: 1px solid #e8e5e5;
    overflow: hidden;
    padding: 10px 0
}

.tab-cl {
    font-size: 14px;
    color: #999;
}

.tab-cl strong {
    font-weight: normal;
    color: #999;
}

.tab-dr h4 {
    color: #6c6c6c;
    font-weight: normal;
    padding: 0 20px 5px 0;
}

.good-detail {
    -webkit-text-size-adjust: none;
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.sift-mg {
    padding: 12px 10px;
}

.new-fl {
    float: left;
}

.new-mg-l12 {
    margin-left: 12px;
}

.new-mg-r12 {
    margin-right: 12px;
}

.new-span-block {
    display: block;
}

.new-span-block .new-gd-bar {
    display: inline-block;
    width: 100px;
    height: 13px;
    background-color: #eee;
    vertical-align: -2px;
}

.new-span-block .new-gd-bar span {
    display: block;
    height: 13px;
    background-color: #ffda44;
}

.new-gd-introduce {
    padding-bottom: 10px;
}

.new-gd-introduce p,
.new-gd-introduce ol,
.new-gd-introduce span {
    font-size: 14px;
    color: #6c6c6c;
}

.new-gd-introduce .new-fl.w56 {
    height: 56px;
}

.new-gd-introduce .new-txt36 {
    display: inline-block;
    font-size: 36px;
    color: #ff4444;
    vertical-align: -14px;
    margin-top: -6px;
}

.new-mg-t5 {
    margin-top: -10px;
}

.new-gd-introduce .new-txt-sign {
    display: inline-block;
    font-size: 18px;
    color: #6c6c6c;
    vertical-align: -14px;
}

.new-gd-introduce .new-txtb8 {
    display: inline-block;
    width: 67px;
    color: #b8b8b8;
}

.new-gd-bar {
    display: inline-block;
    width: 100px;
    height: 13px;
    background-color: #b8b8b8;
    vertical-align: -2px;
}

.new-gd-bar span {
    display: block;
    height: 13px;
    background-color: #e4393c;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.4285;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent
}

.sp-pj.text-right {
    text-align: right;
    /*margin-right:0*/
    padding: 7px 0;
}

.fix-br {
    width: 100%;
    height: 46px;
    clear: both;
}

.sp-dt {
    padding-left: 0 !important;
    padding: 0 !important;
}

.sp-dt a {
    padding: 12px 0 8px 10px;
    display: block;
    overflow: hidden;
}

.sp-dt .sp-icon {
    top: 20px;
}

.pj-list ul {
    display: block;
    padding: 0 10px;
}

.pj-ft .yh-jg {
    padding: 0 15px 0 12px;
}

.pj-ft .yh-cl {
    color: #f37171;
    padding-left: 5px;
}

.active-button {
    display: inline-block;
    float: right;
    background: #ff4444;
    text-align: center;
    color: #fff;
    font-size: 16px !important;
    margin-right: 2%;
    margin-top: 5px;
    border-radius: 0;
    margin: 0;
    padding: 0;
    height: 45px;
    line-height: 45px;
    width: 50%;
}

.ac-link span {
    background: url(../images/button.png) no-repeat;
    width: 28px;
    height: 20px;
    background-size: 100%;
    display: block;
    margin: 4px auto 0 auto;
}

.ac-link.active span {
    background-position: 0 -96px;
}

.ac-link.active {
    color: #3baee7
}

.ac-link02 span {
    background: url(../images/button.png) no-repeat 0 -32px;
    background-size: 100%;
    width: 28px;
    height: 20px;
    display: block;
}

.ac-link02.active span {
    background-position: 0 -126px;
}

.ac-link03 span {
    background: url(../images/button.png) no-repeat 0 -65px;
    background-size: 100%;
    width: 28px;
    height: 20px;
    display: block;
}

.ac-link03.active span {
    background-position: 0 -158px;
}

.active-fix {
    background-color: #fff;
    height: 45px;
}

.active-fix .btn-right .fr {
    line-height: 44px;
    margin-right: 5px;
}

.btn-other {
    float: left;
    width: 40.6%;
    text-align: center;
}

.ac-link04 span {
    background: url(../images/button.png) no-repeat 0 -188px;
    background-size: 100%;
    width: 28px;
    height: 20px;
    display: block;
}

.ac-link05 span {
    background: url(../images/button.png) no-repeat 0 -233px;
    background-size: 100%;
    width: 28px;
    height: 20px;
    display: block;
}

.ac-link04.active span {
    background-position: 0 -210px;
}

.ac-link04.active {
    color: #333!important;
}

.btn-right {
    margin-left: 40.6%;
}

.ac-link {
    float: left;
    font-size: 12px;
    border-right: 1px solid #eee;
    width: 33%;
    display: block;
    height: 45px;
}

.sp-lc .box-con {
    float: left;
    display: inline-block;
}

.sp-lc .sr-sk {
    position: relative;
    top: 8px;
    left: 5px;
    padding-left: 5px;
    height: 30px;
    line-height: 30px;
}

.sp-lc .sp-number {
    float: left;
}

.sp-lc .kc-item {
    float: left;
    margin: 15px 0 0 10px;
}

.sp-lr .sp-tfr {
    min-height: 30px !important;
}

.xz-con .close-jt {
    position: absolute;
    top: 50%;
    left: -17px;
    display: block;
    z-index: 9999;
    background-repeat: no-repeat;
    background-size: 17px 24px;
    height: 24px;
    width: 17px;
}

.sp-pj .sp-adress {
    max-width: 55%;
    height: 18px;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 7px;
}

.sp-pj .dp-wz {
    right: 10px;
    top: 33px !important;
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 2px 6px;
    background-position: 6px 5px;
    cursor: pointer;
    height: auto !important;
    background-size: 20%;
}

.sp-pj .dp-wz a {
    padding: 0 !important;
}

.sp-pj .dp-wz b {
    font-weight: normal;
    padding-left: 15px;
    color: #999;
}

.pj-btn {
    padding-right: 10px;
}

.pj-btn a {
    width: 50%;
    padding: 8px 0 8px 10px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.header-xq {
    position: absolute;
    height: 45px;
    text-align: center;
    line-height: 45px;
    width: 100%;
    padding-right: 50px;
}

.header-xq a {
    padding: 12px 28px;
}

.header-xq a.active {
    color: #eca847;
    position: relative
}

.header-xq a.active:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background: #eca847;
    bottom: 0;
    left: 50%;
    margin-left: -15px;
}

#xiangq {
    clear: both;
    line-height: 1px;
    height: 1px;
    width: 100%;
}

.dp-menu {
    display: -webkit-flex;
    display: flex;
    overflow: hidden;
    /* position: absolute; */
    top: 55px;
    left: 80px;
    width: 100%;
}

.dp-menu li {
    padding-bottom: 0;
    position: relative;
    width: 32%;
    text-align: center;
    float: left;
    /* border-right: 1px solid #eee; */
}

.dp-menu li span {
    color: #999;
    font-size: 12px;
    line-height: 14px;
}

.dp-menu li p {
    font-size: 12px;
    line-height: 14px;
}

.dp-menu li p span {
    font-size: 12px;
    color: #333;
}

.sp-pj .usr-sc .mu-star {
    margin-left: 7px;
}

.sp-xq {
    clear: both;
    padding-top: 5px;
    color: #999;
    font-size: 12px;
}

.sp-title {
    color: #333;
    font-size: 16px;
    margin-right: 12%;
}

.sp-title strong {
    display: block;
    font-size: 12px;
}

.xz-con .xz-dr {
    border-bottom: none;
}
.icon-nav-dpfx {
    background: url(../images/dp-icon-all.png) 0 -87px no-repeat;
    background-size: 85%;
}
.icon-nav-dpjs {
    background: url(../images/dp-icon-all.png) 0 -41px no-repeat;
    background-size: 85%;
}
.xz-con1 {
    padding: 0 10px;
    .title {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        line-height: 35px;
        font-size: 16px;
        color: #333;
    }
    .sub {
        color: #999;
        font-size: 12px;
        margin-top: 10px;
        line-height: 20px;
    }
}

.xz-con1-list {
    margin-top: 2px;
    padding-left: 5px;
    li {
        width: 45.5%;
        border: 1px solid #cdcdcd;
        border-radius: 5px;
        float: left;
        text-align: center;
        padding: 10px 0;
        margin: 5px;
        span {
            display: block;
        }
        span:first-child {
            color: #333;
            font-size: 14px;
        }
        span:last-child {
            font-size: 12px;
            color: #666;
        }
    }
    li.active {
        background: url(../images/icon-selected.png) no-repeat right bottom;
        background-size: 25%;
        border-color: #eca847;
        span {
            color: #eca847;
        }
    }
}

.xz-con .sp-lc {
    border: none;
    background: #eee;
}

.sp-button .list-active a {
    color: #333;
}

.btn-right .disable {
    border-radius: 0;
    margin: 0;
    padding: 0;
    height: 45px;
    line-height: 45px;
    width: 50%;
    background: #cdcdcd;
    float: right;
    font-size: 16px;
    text-align: center;
}

.djx-time {
    margin-top: 10px;
}

.djx-time span {
    color: #999;
}

.icons-clock {
    background: url(../images/time.png) no-repeat;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: 100%;
    margin-right: 5px;
    float: left;
}

.mg-tip {
    border-radius: 5px;
    padding: 0px 5px;
    background: #6cbfe5;
    color: #fff;
    text-decoration: none;
    position: absolute;
    bottom: 3px;
    left: 40px;
    margin-left: -35px;
}

.tu-fr .mg-tip {
    border-radius: 5px;
    padding: 2px 5px;
    background: #6cbfe5;
    color: #fff;
    text-decoration: none;
    position: inherit;
    left: 35px;
    bottom: 0;
}

.tu-list dl dd .dp-xl {
    position: absolute;
    color: #999;
    font-size: 12px;
    bottom: 13px;
    right: 0px;
    display: block;
    width: 80px;
    text-align: left;
}

.tu-list dl dd .tu-fr {
    padding-top: 5px;
}

.old-prece {
    color: #999;
    font-size: 12px;
}

.tab-lt li {
    background: #f8f8f8
}

.tab-lt li a {
    line-height: 30px;
    font-size: 16px;
}

.tab-lt li.active a {
    color: #333;
    line-height: 30px;
}

.tab-lt li.active a:after {
    content: "";
    display: block;
    border-bottom: 2px solid #ffda44;
    width: 70%;
    margin: 0 auto
}

.jr-dp {
    background: url(../images/button.png) no-repeat 0 -32px;
    background-size: 100%;
    width: 28px;
    height: 22px;
    display: block;
}

.lx-kf {
    background: url(../images/button.png) no-repeat 0 -233px;
    background-size: 100%;
    width: 28px;
    height: 22px;
    display: block;
}

.jd-gg i {
    /* margin-left: 10px; */
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 20%;
}

.star-list {
    display: block;
    padding-left: 7px;
    height: 22px;
    max-width: 60%;
    overflow: hidden;
    margin-top: 5px;
}

.star-list i {
    float: left;
    display: block;
    width: 14px;
    height: 14px;
    background: url(../images/yelow-star.png) 0 0 no-repeat;
    background-size: 100%;
    margin-right: 3px;
}

.ml20 {
    margin-left: 20px;
}

.copy-con {
    padding: 10px;
}

.bl-said {
    width: 100% !important;
    background: #fff !important;
    border-bottom: 1px solid #cdcdcd;
    color: #333 !important;
    font-size: 15px;
}

.void-search {
    height: 100%;
    text-align: center;
    background-image: url(../images/void-png.png);
    background-position: center 100px;
    background-size: 200px 200px;
    background-repeat: no-repeat;
    padding-top: 400px;
    padding-bottom: 20px;
}

.tu-list dl a.block {
    display: block;
    overflow: hidden;
}

.wd100-input {
    width: 100%;
    border: 1px solid #cdcdcd;
    height: 38px;
    line-height: 38px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.tu-list dl dd a.tu-con:after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 110px;
    z-index: 1;
    top: 0;
    left: 0;
}

.sc-tc {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 120px;
    display: none;
    margin-left: -60px;
    text-align: center;
    background: #eee;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 5px #999;
    font-size: 16px;
    color: #333;
}

.tip-search .srch-input .tip-search-input {
    -webkit-appearance: none;
    border: 1px solid #ffda44;
    border-radius: 5px !important;
    border-left: none;
}

.cur-con .box10 .pull-right em {
    font-style: normal;
    font-weight: 300;
    color: #999;
}

.cur-con .box10 strong {
    font-weight: normal;
}

.ddsm-box {
    padding: 10px;
}

.ddsm-box .copy-con {
    color: #999;
    font-size: 12px;
}

.ddsm-box h4,
.ddsm-box h5 {
    font-weight: 600;
}

.cur-ul .tabcon-cl04 .btn {
    margin-left: 10px;
    padding: 0 10px;
    font-size: 14px;
}

.brd-bot {
    border-bottom: 1px solid #cdcdcd;
    line-height: 30px;
}

.q-ll-list {
    background: #fff;
    margin-top: 15px;
    padding: 10px 10px;
}

.q-ll-list li {
    position: relative;
    padding: 10px 0;
}

.q-ll-list-l {
    position: absolute;
    top: 5px;
    left: 0;
    height: 80px;
    width: 80px;
}

.q-ll-list-r {
    margin-left: 95px;
    border-bottom: 1px solid #cdcdcd;
}

.q-ll-list-l img {
    width: 100%;
}

.fs14 {
    font-size: 14px;
}

.q-ll-list-r p {
    margin-bottom: 5px;
    font-size: 12px;
    overflow: hidden;
}

.q-ll-list-r .q-ll-list-p1 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.q-p-overflow {
    line-height: 1.2em;
    min-height: 18px;
    max-height: 36px;
    overflow: hidden;
    text-overflow: -o-ellipsis-lastline;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.q-con-top #wrapper {
    top: 0;
}

.q-ll-list-a {
    display: inline-block;
    float: right;
    margin-left: 10px;
    background: #ffda44;
    border-radius: 5px;
    padding: 5px 10px;
}

.bdt10 {
    border-top: 10px solid #eee;
}

.sp-tab {
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #cdcdcd;
    margin-top: 10px;
    span {
        display: inline-block;
        padding: 10px 6%;
        margin: 0 6%;
        color: #666;
    }
    span.active {
        color: #eca846;
        border-bottom: 2px solid #eca847;
    }
}

.swiper-container {
    background-color: #fff;
}

.wrap-transact {
    background-color: #fff;
    width: 16rem;
    height: 100%;
    margin: 0 auto;
}

.content-transact {
    border-top: px2rem(20) solid #f8f8f8;
    text-align: center;
    padding-top: px2rem(85);
    .img {
        width: px2rem(200);
    }
    .p1 {
        font-size: px2rem(30);
        color: #333;
        line-height: px2rem(70);
    }
    .p2 {
        font-size: px2rem(24);
        color: #999;
        width: px2rem(470);
        margin: 0 auto;
    }
    .info-transact {
        width: px2rem(550);
        margin: px2rem(20) auto auto;
        padding-left: px2rem(100);
        border-top: 1px solid #cdcdcd;
        padding-top: px2rem(30);
        li {
            font-size: px2rem(24);
            line-height: px2rem(48);
            text-align: left;
            span {
                display: inline-block;
                color: #666;
                width: px2rem(150);
                font-size: px2rem(24);
                text-align: right;
            }
            em {
                color: #333;
            }
            .org {
                color: #eca847;
            }
        }
    }
}

.btn-wrap {
    margin-top: px2rem(35);
    a {
        display: inline-block;
        width: px2rem(206);
        height: px2rem(70);
        line-height: px2rem(70);
        border-radius: 5px;
        font-size: px2rem(24);
        margin: 0 px2rem(20);
    }
    a:first-child {
        border: 1px solid #cdcdcd;
    }
    a:last-child {
        border: 1px solid #eca847;
        color: #eca847;
    }
}

.order {
    border-top: px2rem(20) solid #f8f8f8;
    padding: px2rem(20) px2rem(15);
    li {
        color: #666;
        span {
            color: #eca847;
        }
        font-size: px2rem(28);
    }
}

.order-detail {
    border-top: px2rem(20) solid #f8f8f8;
    .title {
        border-bottom: 1px solid #f6f6f6;
        padding: px2rem(15);
    }
    .detail {
        padding: px2rem(15) px2rem(20);
        color: #666;
        li {
            font-size: px2rem(24);
            position: relative;
            line-height: px2rem(60);
        }
        li.mt10 {
            margin-top: px2rem(10);
        }
        input {
            width: 100%;
            height: px2rem(80);
            color: #333;
            font-size: px2rem(28);
            text-indent: px2rem(10);
            border: 1px solid #cdcdcd;
        }
    }
    .icon-msg {
        width: px2rem(33);
        display: inline-block;
    }
    .floor-msg {
        font-size: px2rem(28);
        color: #333;
        margin-left: px2rem(12);
        vertical-align: middle;
    }
}

.addr-dp {
    font-size: px2rem(20);
    color: #999;
    float:right;
}

.addr-dp:before {
    content: "";
    background: url(../images/gps1.png) no-repeat;
    height: px2rem(28);
    width: px2rem(18);
    display: inline-block;
    margin-right: px2rem(10);
    vertical-align: middle;
    background-size: cover;
}

.addr-dp1 {
    height: px2rem(80);
    line-height: px2rem(80);
}

.yhq-xq {
    background: #f8f8f8;
    margin: 0;
}
.detail-wrap1,.detail-wrap2{
    display: none;
}
.wd-ewm-top {
    padding-top: px2rem(20);
    padding: px2rem(20);
    p {
        font-size: px2rem(24);
        color: #999;
    }
    .p1 {
        font-size: px2rem(32);
        color: #333;
    }
    .p2 {
        text-align: center;
        width: px2rem(211);
        margin: 0 auto;
        margin-top: px2rem(40);
    }
    .p3 {
        color: #eca847;
        font-size: px2rem(24);
        text-align: center;
    }
}

.wd-ewm-sm {
    padding-bottom: px2rem(30);
    .wd-ewm-sm-title {
        font-size: px2rem(28);
    }
    p {
        font-size: px2rem(24);
        color: #666;
    }
}

.wd-ewm-bottom {
    padding: 0 px2rem(30)
}

.wd-ewm-dp-title {
    height: px2rem(80);
    line-height: px2rem(80);
    padding: 0 px2rem(30);
}

// .wd-ewm-dp{padding: 0  px2rem(20); margin-bottom: px2rem(30) }
.wd-ewm-dp-con {
    padding: 0 px2rem(20) px2rem(20);
}

.wd-ewm-dp-con {
    position: relative;
}

.wd-yydp-img {
    position: absolute;
    height: px2rem(120);
    width: px2rem(120);
    top: 0;
    left: px2rem(20);
    text-align: center;
}

.wd-yydp-img img {
    margin-top: px2rem(12);
    width: px2rem(100);
}

.wd-yydp-con {
    padding-left: px2rem(140)
}

.wd-yydp-con p,
.wd-yydp-con h4 {
    font-size: px2rem(24);
    text-align: left;
    font-weight: normal;
    margin-bottom: px2rem(5);
}

.wd-yydp-con p {
    color: #666;
    font-size: px2rem(20);
    margin-bottom: px2rem(5);
}

.wd-yydp-con p span {
    font-size: px2rem(20);
}

.wd-yydp-con p span.red {
    color: #ff4444;
    font-size: px2rem(32);
}

.wd-yydp-con p span.fr {
    margin-top: px2rem(10);
}

.wd-ewm-dp {
    text-align: center;
}

.wd-ewm-dp a {
    color: #eca847;
    text-decoration: underline;
    border-top: 1px solid #eee;
    display: inline-block;
    width: 100%;
    height: px2rem(70);
    line-height: px2rem(70);
}

.wd-ewm-dp a:after {
    content: "";
    background: url(../images/right-y.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    height: px2rem(26);
    width: px2rem(14);
    display: inline-block;
    margin-left: px2rem(10);
    vertical-align: middle;
}

.sub-tabs {
    border: 1px solid #eeeeee;
    border-width: 0 0 1px 0;
    background-color: #fff;
    overflow: hidden;
}

.sub-tabs li {
    width: 25%;
    float: left;
    text-align: center;
    background: #fff;
}

.sub-tabs li a {
    width: px2rem(100);
    margin: 0 auto;
    font-size: .6rem;
    color: #333;
    text-align: center;
    display: inline-block;
    line-height: px2rem(64);
    height: px2rem(64);
}

.sub-tabs .curr a {
    border-bottom: 2px solid #eca847;
    color: #eca847;
}

.yh-fj {
    background: #fff;
    border: 1px solid #eee;
    border-width: 0 0 1px 0;
}

.yh-fj {
    padding: px2rem(30) 0 px2rem(10);
}

.map-icon:before {
    content: "";
    background: url(../images/map-icon.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100%;
    height: px2rem(32);
    width: px2rem(32);
    display: inline-block;
    margin-right: px2rem(5);
    vertical-align: middle;
}

.sub-tabs .curr .map-icon:before {
    content: "";
    background: url(../images/gps.png) no-repeat;
    background-size: contain;
    height: px2rem(32);
    width: px2rem(32);
    display: inline-block;
    margin-right: px2rem(5);
    vertical-align: middle;
}

.order-btn-wrap {
    height: px2rem(90);
    line-height: px2rem(90);
    color: #eca847;
    font-size: px2rem(28);
    text-align: center;
    width: 16rem;
    .inside {
        border-top: 1px solid #cdcdcd;
        bottom: 0;
        width: 16rem;
        height: px2rem(90);
        line-height: px2rem(90);
        position: absolute;
        font-size: px2rem(32);
        left:50%;
        transform: translateX(-50%);
        color:#eca847;
    }
}

.js_yh_tab_cons {
    border-top: px2rem(20) solid #f8f8f8;
}

.search {
    width: 16rem;
    background-color: #fff;
    text-align: center;
    border-bottom: 1px solid #f8f8f8;
    overflow: hidden;
    padding: px2rem(10) px2rem(20);
}

.search-input {
    width: px2rem(550);
    height: px2rem(55);
    border: 1px solid #eee;
    font-size: px2rem(24);
    text-indent: px2rem(10);
    float: left;
    border-right: none;
    outline: none;
}

.search-btn {
    border: 1px solid #eee;
    width: px2rem(50);
    height: px2rem(55);
    float: left;
    border-left: none;
    background: url(../images/icon-search.png) no-repeat left center;
    background-size: 70%;
}

.map-icon:before {
    background: url(../images/gps.png) no-repeat;
    background-size: contain;
}

.appointment {
    padding-left: px2rem(30);
    text-align: left;
    h3 {
        img {
            width: px2rem(86);
            margin-right: px2rem(20);
        }
        font-size: px2rem(30);
        padding-bottom: px2rem(20);
        border-bottom:1px solid #e0e0e0;
    }
    .detail {
        padding: px2rem(20) px2rem(30) px2rem(20) 0;
        li {
            line-height: px2rem(48);
            font-size: px2rem(24);
            color: #9f9f9f;
            span.black {
                color: #333
            }
            span.fr {
                margin-top: px2rem(6);
            }
           
            .detail-btn{
                display: inline-block;
                border-radius: 5px;
                text-align: center;
                line-height: px2rem(70);
                width: px2rem(206);
                height: px2rem(70);
                border:1px solid #cdcdcd;
                color: #333;
            }
            .detail-btn:first-child{
                margin-right: px2rem(20);
            }
            .detail-btn.org{
                border-color:#eca847;
                color:#eca847;
            }
        }
          .detail-btn-wrap{
                 text-align: center;
                 margin-top: px2rem(20);
             }
    }
    .call {
        margin-right: px2rem(10);
        text-decoration: underline;
        color: #7bc3e7;
    }
    .icon-call {
        width: px2rem(38);
        background: none;
        display: inline-block;
    }
    .close_btn {
        width: 1.2rem;
        height: 1.2rem;
    }
}

.info {
    padding: px2rem(30);
    img {
        width: px2rem(100);
    }
    dl {
        width: px2rem(450);
        margin-left: px2rem(20);
        display: inline-block;
        vertical-align: middle;
        font-size: px2rem(24);
        color: #666;
        dt {
            color: #333;
            font-size: px2rem(30);
        }
        dd {
            margin-top: px2rem(10);
        }
    }
}

.line {
    background: url(../images/line1.png) repeat-x center center;
    height: 1px;
    width: 100%;
}

.bd20 {
    height: px2rem(20);
    background-color: #f8f8f8;
    width: 100%;
}

.info-detail {
    padding: 0 px2rem(30);
    border-top: 1px solid #d8d8d8;
    li {
        border-bottom: 1px solid #d8d8d8;
        padding: px2rem(15) 0;
        span {
            font-size: px2rem(30);
            color: #666
        }
        em {
            color: #333;
            font-size: px2rem(30);
            float: right;
        }
        .org {
            color: #eca847;
        }
    }
}