.shop-layout-1and1{
	display:table;
	@include mt20;
	>div{
		display:table-cell;
		width:px2rem(320);
		height: px2rem(320);
		img{
			width:100%;
			height:100%;
		}
	}
	>div:first-child{
		border-right: 1px solid #eee;
	}
}